.verticalText{
        
        writing-mode: vertical-lr;
        transform: rotate(180deg);
}

td{
        cursor: pointer;
}

.ponente{
        border: 2px solid #009bff;
}

.t01{
        background: whitesmoke;
        
}
.boxTable{
        margin: 20px;
}

.align-middle:hover{
        transition: .9s;
        background: rgba(220, 220, 220, 0.678);
}

.bold{
        font-weight: bold;
}

table > h3{
        margin: 5px;
}


@media only screen and (max-width: 960px) {
        /* For mobile phones: */
        .boxTable{
                margin: 0px;
        }
    }