.fiis {
        background: url("../img/fiis.jpg") no-repeat center center ;
        min-height: 100%;
        background-size: cover;
        
        max-width: 100%;
        position:relative;
        color: white;
        z-index:1;
        margin-bottom: 10px;
      }
      
      .fiis::after {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.6);
        z-index:-1;
      }

.location{
        /* margin: 20px; */
        padding: 20px;
        color: #ffffff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


@media only screen and (max-width: 960px) {
        /* For mobile phones: */

        .fiis{
                margin-bottom: 20px;
        }
    }